*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  /* scroll-behavior:smooth; */
}
html{
  scroll-behavior: smooth;
}
p{
  opacity: 0.7;
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
.icon-div{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero{
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
  position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
}
.hero-text{
  text-align: center;
  max-width: 800px;
}
.hero h1{
  font-size: 4rem;
  color: white;
  font-weight: 800;
  line-height: 1.1;
  transition: all 0.5s ;
}
.hero-text h1:hover{
    color: transparent;
    -webkit-text-stroke: 2px white;
  }
.hero-text a{
  display: inline-block;
  font-size: 1.3rem;
  text-decoration: none;
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.5em 2.3em;
  margin-top: 1.2em;
  border-radius:3px;
}
.hero-text a:hover{
opacity: 0.8;
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 1.4em 7em;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8;
 -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
nav ul{
  display: flex;
  gap: 1em;
}
nav a{
  text-decoration: none;
  color: white;
  opacity: 0.8;
}
nav a:hover{
  opacity: 1;
}
nav ul li {
  list-style: none;
}
.ul-link{
  font-size: 1.2rem;
}
.ul-reserve{
  border: 1px solid;
  padding: 4px 6px;
}
.logo{
  font-size: 1.95rem;
  font-weight: 600;
  cursor:default;
  font-family:  'Playfair Display',serif;
}
.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  
}


.flex-content{
  display: grid;
  gap: 1.4em;
  justify-content: space-between;
  align-content:space-between ;
}
.container{
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
#Explore-section{
  background-color: rgb(228, 227, 227);
  padding: 38px 0;

  & h2{
   margin: 12px 0;
  }
  & img{
    transition: transform 0.3s ease;
  }
  & img:hover{
    transform: scale(1.1)
  }
  
}
.btn{
  border: 1px solid white;
  color: white;
  background: transparent;
  padding: 14px 34px;
  text-decoration: none;
}
.btn:hover{
opacity: 0.8;
}
#footer{
  color: white;
  padding: 30px 30px;
  height: 40vh;
  background-color: rgb(0, 0, 0);
}
.foooter{
  display: flex;
  justify-content: space-between;
  align-items: center;

  & i{
    margin-right: 14px;
    font-size: 20px;
    cursor: pointer;
  }
}

/* for aspect ratio of the video element  */
@media   (min-aspect-ratio:16/9) {
  .back-video{
    width: 100%;
    height: auto;
  }
}
@media   (max-aspect-ratio:16/9) {
  .back-video{
    width: auto;
    height: 100%;
  }
}
.times-icon{

  display: none;
}
.hamburger{
  display: none;
}
.up-arrow{
  position:fixed ;
  bottom: 30px;
  right: 30px;
  font-size: 25px;
  color: white;
  background-color: rgb(34, 34, 232);
  padding: 5px 8px;
  animation: glow 1.8s infinite;
  cursor: pointer;
  display: none;
}
@keyframes glow{
  0% {
    box-shadow: 0 0 10px cyan;
  }
  50% {
    box-shadow: 0 0 22px rgb(34, 192, 254);
  }
  100% {
    box-shadow: 0 0 12px cyan;
  }

}
/* popular-page css for searching items */


#search-container,#buttons{
  /* width: 60%; */
margin: 1.2em 2.3em;
}
#search-container input {
  background-color: transparent;
  width: 50%;
  border-bottom: 2px solid #110f29;
  padding: 1em 0.3em;
  
}
#search-container input:focus {
  border-bottom-color: #6759ff;
}
#search-container button {
  padding: 1em 2em;
  margin-left: 1em;
  background-color: #6759ff;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 0.5em;
  cursor: pointer;

  &:active{
    opacity: 0.8;
  }
}
.button-value {
  border: 2px solid #6759ff;
  padding: 1em 2.2em;
  border-radius: 3em;
  background-color: transparent;
  color: #6759ff;
  cursor: pointer;
}
.wrapper-search{
  width: 95%;
  margin: 0 auto;
}
.active {
  background-color: #6759ff;
  color: #ffffff;
}
.grid{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.2em;
  padding: 1em 0;
}
.card {
  background-color: #ffffff;
  max-width: 18em;
  margin-top: 1em;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
  text-align: center;
}
.grid img {
  max-width: 100%;
  object-fit: contain;
  height: 15em;
}
.container {
  padding-top: 1em;
  color: #110f29;
}
.container h5 {
  font-weight: 500;
}
.hide{

  display: none;
}





/* media queries for small screens */
@media  screen and (max-width:800px) {
  .hamburger{
    display: block;
    cursor: pointer;
    opacity: 0.8;
  }
  .bars{
    color: white;
    font-size: 25px;
  }
  .nav-links{
   background-color: black;
   position: fixed;
   z-index: 10;
   display: block;
   text-align: center;
   /* transition: all 0.35s linear; */
   width: 100%;
  left: -200%;

  }
 
  .li-times{
    position: relative;
  }
  .times-icon{
    display: inline-block;
    color: white;
    font-size: 20px;
    position:absolute;
    right: 0;
    cursor: pointer;
    bottom: 4px;
  }
  
  .nav-links.dynamic-links{
   left: 0;
   top: 0px;
   /* right: 0; */

   
  }
  .dynamic-links li{
    margin: 60px;
  }
 
  nav{
  padding: 1.2em 3em;

  }

  .hero h1{
    font-size: 3rem;
  }
  .flex-content{
    grid-template-columns: repeat(2,1fr);
  }
  #footer{
    text-align: center;
    padding: 8px 0;
  }
  .foooter{
    flex-direction: column;
    gap: 30px;
  }
  .btn{
    padding: 12px 35px;
    text-align: center;
  }
  .foooter{
    align-items: flex-start;
    /* justify-content: center; */
  }
  .grid img {
    max-width: 100%;
    object-fit: contain;
    height: 10em;
  }
  .card {
    max-width: 10em;
    margin-top: 1em;
  }
  .grid {
    grid-template-columns: auto auto;
    grid-column-gap: 1em;
  }
}

@media screen and (max-width:425px) {

 
  .flex-content{
    grid-template-columns: 1fr;
  }
  #Explore-section{
     
    & img{
      padding: 4px;
    }
  }

  .foooter{
flex-direction: column;
gap: 20px;
align-items: center;


& h3{
font-size: 1.2rem;
}
  }
  .btn{
    border: 1px solid white;
    color: white;
    background: transparent;
    padding: 8px 14px;
    text-decoration: none; 
   }

}
@media screen and (min-width:800px ) and (max-width:1400px)  {
  .flex-content{
    grid-template-columns: repeat(2,1fr);
  }
  
}
